<div>
    <table class='table'>
        <thead>
        <tr class='success'>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Publisher</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr *ngFor="let book of getBooks()">
            <td>{{book.id}}</td>
            <td>{{book.title | titleIt: ['the']}}</td>
            <td>{{book.year}}</td>
            <td>{{book.author}}</td>
            <td>{{book.pages}}</td>
            <td>{{book.publisher}}</td>
            <td>
                <button>Action</button>
            </td>
        </tr>
    </table>
</div>
